{% extends 'base.html.twig' %}

{% block title %}Departments{% endblock %}

{% block body %}
	<h6 class="display-4">Departments</h6>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<table class="table" id="myTable">
		<thead>
		<tr>
			<th>DeptNo</th>
			<th>DeptName</th>
			<th>Number of employees</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{% for department in departments %}
			<tr>
				<td>{{ department.deptNo }}</td>
				<td>{{ department.deptName }}</td>
				<td>itt lesz egy szám</td>
				<td>
					<a href="{{ path('department_show', {'deptNo': department.deptNo}) }}" class="btn btn-success btn-sm " role="button"
					   aria-pressed="true">Show</a>
					<a href="{{ path('department_update', {'deptNo': department.deptNo}) }}" class="btn btn-warning btn-sm " role="button"
					   aria-pressed="true">Update</a>
					<a href="{{ path('department_delete', {'deptNo': department.deptNo}) }}" class="btn btn-danger btn-sm " role="button"
					   aria-pressed="true">Delete</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="3">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="d-flex">
		<div class="mr-auto p-2">
			<a href="{{ path('department_create') }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Create new</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}

	{{ parent() }}

{% endblock %}