{% extends 'base.html.twig' %}

{% block title %}Edit Department{% endblock %}

{% block body %}
    <h1>Edit Department</h1>
	<div class="d-block position-relative float-right mt-3 ">
		<a href="{{ path('department_list') }}" title="Department update" class="btn btn-sm btn-secondary " disabled="disabled"><i class="fa fa-home"></i>
			Back</a>
	</div>
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">Department update</h6>


	{{ form_start(form) }}
	<div class="form-group">
		{{ form_widget(form) }}
	</div>
	{{ form_end(form) }}
{% endblock %}
