{% extends 'base.html.twig' %}

{% block title %}Base Admin{% endblock %}

{% block body %}
<h1>Adminisztrációs oldal</h1>
<br><br>
<p>Login felvételi tesztfeladat</p>
<br><br>
<small><i>pwered by: L. András</i></small>
<body>
{% endblock %}
