{% extends 'base.html.twig' %}

{% block title %}DeptEmp{% endblock %}

{% block body %}
	<div class="d-block position-relative float-right mt-3 ">
		<a href="{{ path('dept_emp_list') }}" title="Show DeptEmp" class="btn btn-sm btn-secondary " disabled="disabled"><i class="fa fa-home"></i>
			Back</a>
	</div>
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">DeptEmp show</h6>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dept_emp.id }}</td>
            </tr>
            <tr>
                <th>FromDate</th>
                <td>{{ dept_emp.fromDate ? dept_emp.fromDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ToDate</th>
                <td>{{ dept_emp.toDate ? dept_emp.toDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

	<div class="card-group py-2">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
					Employee name: {{ dept_emp.empNo.fullName }}
				</h5>
				<b>No: </b>{{ dept_emp.empNo.empNo }}<br>
				<b>Gender: </b>{{ dept_emp.empNo.gender|gender }}<br>
				<b>Birth date: </b>{{ dept_emp.empNo.birthDate ? dept_emp.empNo.birthDate|date('Y-m-d') : '' }}<br>
				<b>Hire date: </b>{{ dept_emp.empNo.hireDate ? dept_emp.empNo.hireDate|date('Y-m-d') : '' }}
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
					Department name: {{ dept_emp.deptNo.deptName }}
				</h5>
				<b>No: </b>{{ dept_emp.deptNo.deptNo }}<br>
				<b>From: </b>{{ dept_emp.fromDate ? dept_emp.fromDate|date('Y-m-d') : '' }}<br>
				<b>To: </b>{{ dept_emp.toDate ? dept_emp.toDate|date('Y-m-d') : '' }}<br>
			</div>
		</div>
	</div>


{% endblock %}
