{% extends 'base.html.twig' %}

{% block body %}

	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">User create</h6>

	{{ form_start(form) }}
	<div class="form-group">
		{{ form_widget(form) }}
	</div>
	{{ form_end(form) }}
{% endblock %}
