{% extends 'base.html.twig' %}

{% block title %}Title{% endblock %}

{% block body %}
	<div class="d-block position-relative float-right mt-3 ">
		<a href="{{ path('title_list') }}" title="Show Title" class="btn btn-sm btn-secondary " disabled="disabled"><i class="fa fa-home"></i>
			Back</a>
	</div>
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">Title show</h6>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ title.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ title.title }}</td>
            </tr>
            <tr>
                <th>From date</th>
                <td>{{ title.fromDate ? title.fromDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>To date</th>
                <td>{{ title.toDate ? title.toDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

	<div class="card-group py-2">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
					Employee name: {{ title.empNo.fullName }}
				</h5>
				<b>No: </b>{{ title.empNo.empNo }}<br>
				<b>Gender: </b>{{ title.empNo.gender|gender }}<br>
				<b>Birth date: </b>{{ title.empNo.birthDate ? title.empNo.birthDate|date('Y-m-d') : '' }}<br>
				<b>Hire date: </b>{{ title.empNo.hireDate ? title.empNo.hireDate|date('Y-m-d') : '' }}
			</div>
		</div>
	</div>

{% endblock %}
