{% extends 'base.html.twig' %}

{% block title %}Salary{% endblock %}

{% block body %}
	<div class="d-block position-relative float-right mt-3 ">
		<a href="{{ path('salary_list') }}" title="Show Salary" class="btn btn-sm btn-secondary " disabled="disabled"><i class="fa fa-home"></i>
			Back</a>
	</div>
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">Salary show</h6>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salary.id }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ salary.salary|price }}</td>
            </tr>
            <tr>
                <th>From Date</th>
                <td>{{ salary.fromDate ? salary.fromDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>To Date</th>
                <td>{{ salary.toDate ? salary.toDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

	<div class="card-group py-2">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
					Employee name: {{ salary.empNo.fullName }}
				</h5>
				<b>No: </b>{{ salary.empNo.empNo }}<br>
				<b>Gender: </b>{{ salary.empNo.gender|gender }}<br>
				<b>Birth date: </b>{{ salary.empNo.birthDate ? salary.empNo.birthDate|date('Y-m-d') : '' }}<br>
				<b>Hire date: </b>{{ salary.empNo.hireDate ? salary.empNo.hireDate|date('Y-m-d') : '' }}
			</div>
		</div>
	</div>
{% endblock %}
