{% extends 'base.html.twig' %}


{% block body %}
	<div class="d-block position-relative float-right mt-3 ">
		<a href="{{ path('project_index') }}" title="Update user" class="btn btn-sm btn-secondary " disabled="disabled"><i class="fa fa-home"></i>
			Back</a>
	</div>
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">Update user</h6>

	{{ form_start(form) }}

	{{ form_widget(form) }}

	{{ form_end(form) }}
{% endblock %}

